:root {
    --primary: hsl(182 96% 32%);
    --secondary: hsl(0 0% 100%);
}

@layer general-styling {

    /* .inter-<uniquifier> {
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    } */
    html {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6;
    }

    body {
        font-size: 1.25rem;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--primary);
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1,
    h2 {
        font-optical-sizing: auto;
        font-weight: 400;
    }

    h1 {
        font-size: round(up, clamp(2rem, 5cqi + .5rem, 4rem), 2rem);
        text-transform: uppercase;
        line-height: 1.1;
    }

    h2 {
        font-size: 2.5rem;
        font-size: clamp(1.5rem, 5cqi + .5rem, 2.5rem);
        line-height: 1.1;
    }

    p {
        font-size: 1.5rem;
    }

    section {
        padding-block: clamp(2rem, 5vb, 6rem);
    }

    /* .btn {
        display: inline flex;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid darkgrey;
        color: white;
        border-radius: 8px;
        transition: background-color .2s ease-in-out;

        &:hover,
        &:focus-visible {
            background-color: mediumvioletred;
        }
    } */
}

@layer layout {
    .wrapper {
        --padding-inline: 21px;
        --content-max-width: 900px;

        max-inline-size: var(--content-max-width);
        margin-inline: auto;
        padding-inline: var(--padding-inline);
    }
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--secondary);
}


.hero .btn {
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bold;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: 2px solid var(--secondary);
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

.hero .email {
    margin-bottom: 2rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip .tooltiptext.newClass {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
    align-items: center;
}

svg {
    stroke-width: 1.5;
    stroke: var(--secondary);
}